

  <div class="ticket">
    
    <div class="date">
      <span class="day">24</span>
      <span class="month-and-time">JAN</br><span class="small">7PM</span></span>
    </div>
  
    <div class="artist">
      <span class="name">DEAFHEAVEN</span>
    </div>
  
    <div class="location">
      <span>San Francisco</span>
      </br>
      <span class="small"><span>The Filmore</span>
    </div>
  
    <div class="rip">
    </div>
    
    <div class="cta">
      <div class="scan"></div>
    </div>
  
  </div>