<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if userCSS}}
    <link rel="stylesheet" href="/css/user.css">
    {{/if}}
    {{#if ticketCSS}}
    <link rel="stylesheet" href="/css/ticket.css">
    {{/if}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <h1>CShows</h1>
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="{{#if activeLogin }}active{{/if}}" href="/"></a>
                </li>
                {{!-- <li class="main-header__item"><a class="{{#if activeUserDashboard }}active{{/if}}" href="/">User
                        Dashborad</a>
                </li> --}}
                {{!-- <li class="main-header__item"><a class="{{#if activePurchaseTicket }}active{{/if}}"
                        href="/user/purchaseTicket">Purchase Ticket</a></li> --}}
                {{!-- <li class="main-header__item"><a class="{{#if activeLogin }}active{{/if}}" href="/user/login">Login</a> --}}
                {{!-- </li> --}}
                <li class="main-header__item"><a class="{{#if activeSignupBuyer }}active{{/if}}" href="/signup/buyer">Signup</a>
                </li>
                <li class="main-header__item"><a class="{{#if activeSignupArtist }}active{{/if}}" href="/signup/artist">Signup</a>
                </li>
            </ul>
        </nav>
    </header>
    {{{ body }}}
</body>

</html>